.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CourseCardHidden {
  width: 130px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.CourseCard {
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  border: 1px solid #dedede;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.CourseCard:hover {
  box-shadow: 0px 0px 8px rgba(61, 61, 61, 0.2); /* Adds a shadow effect */
}

.ant-table-tbody > tr > td {
  border: none
}

.UserAvatar {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items:center;
}

.ChatRow {
  margin-top: 10px;
}

.ChatContent {
  font-size: 12pt;
  /* border: 1px solid gray; */
  /* width: 92%;
  max-width: 750px; */
}

.AppHeader {
  background-color: white;
  box-shadow: 1px 1px 2px 0px gray;
  margin-bottom: 3px;
  text-align: left;
  padding-left: 8px;
  padding-right: 12px;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.UserInfoRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
}

.courseCardMarginLeft{
  width: 4px;
  height: 100%;
}

.courseCardMarginLeftHover{
  background-color: gray;
  border: 1px solid white;
}

.cellMove {
  animation: moveAnimation 0.3s ease-in-out;
}

@keyframes moveAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px);
  }
}

.ant-tabs-tab {
  padding-left: 8px !important;
  padding-right: 8px !important;
  margin-top: 8px !important;
  /* font-weight: bold; */
}

.ant-table {
  border-radius: 5px !important;
}

.closeButton {
  position: relative;
  left: 46%;
  top: 13%;
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, 0);
  
}

.closeButton:hover {
  background-color: rgb(198, 198, 198);
  border: 2px solid rgb(198, 198, 198);
  transition: all 0.15s ease-in;
}

.courseDetailTitle {
  display: flex;
}

.courseDetailTitle > span {
  width: 75%;
}

.courseDetailTitle > strong {
  width: 25%;
}

.lowerProgramRequirementWrapper {
  min-height: 350px;
}

.lowerProgramRequirementSmallCard {
  width: 105px;
  height: 35px;
  text-align: justify;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid #dedede;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.lowerProgramRequirementSmallCardCheckBox > span > span{
  background-color: rgb(131, 200, 131) !important;
  border-color: rgb(131, 200, 131) !important;
}

.lowerProgramRequirementSmallCardCheckBox > span > input{
  cursor: default !important;
}

.lowerProgramRequirementSmallCardCheckBox {
  cursor: default !important;
}

.Pane.vertical.Pane1 {
  overflow: auto !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5c5c5c;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.flexcenterspacedbetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}